.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form {
  background-color: #1c1f2b;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #45f3ff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 550px;
  height: 450px;
}

.upload-form h2 {
  color: #45f3ff;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

.upload-input {
  padding: 12px 16px;
  border-radius: 6px;
  background: #2c2f3f;
  color: #fff;
  border: 1px solid #45f3ff;
  font-size: 16px;
}

.upload-input::file-selector-button {
  padding: 8px 12px;
  border: none;
  background-color: #45f3ff;
  color: #0f131f;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.upload-button {
  padding: 12px;
  background: #45f3ff;
  color: #0f131f;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.upload-button:hover {
  background: #32d9fa;
}